@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #407BFF;
    --cor-secundaria: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body,html {
    background-color: var(--cor-primaria);
    
}

.corpo {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 6.25em;
    border-bottom: .3px solid var(--cor-secundaria);
}

.coluna-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 37.5em;
    gap: 40px;
}

.titulo {
    color: var(--cor-secundaria);
    font-weight: 600;
    font-size: 3.5rem;
}

.paragrafo {
    color: var(--cor-secundaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.imagem {
    width: 24.37em;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: .3px solid var(--cor-secundaria);
    padding: 1.25em 6.25em ;
}

.cabecalho_titulo {
    font-weight: 600;
    color: var(--cor-secundaria);
    font-size: 1.6rem;

}
.cabecalho ul {
    display: flex;
    justify-content: flex-end;
    gap: 50px;
}

.cabecalho li {
    list-style: none;
}

.link {
    text-decoration: none;
    color: var(--cor-secundaria);
    font-weight: bold;
}

.link:hover {
    color: #2c57b1;
    transition: color .3s;
}

.botao-principal {
   text-decoration: none;
   background-color: var(--cor-secundaria);
   padding: 10px;
   border-radius: 20px;
   color: var(--cor-primaria);
   font-weight: bold;
   box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.43);
}

.botao-principal:hover {
    color: #2c57b1;
    transition: color .3s;
}

.texto-rodape {
    color: var(--cor-secundaria);
    text-align: center;
    padding: 5px;
}